pandarallel
fire
black
joblib
ipython
numpy==1.20.3
pandas==1.2.4
matplotlib
fastparquet==0.6.3
pyarrow==4.0.0
scikit-learn==0.23.2
tabulate
sqlalchemy==1.4.15
psycopg2-binary
ccxt==1.49.32
werkzeug
fancytable
